@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}

/* shear style */
body {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.orange {
  color: rgba(254, 163, 1, 1);
}
.sky-blue {
  color: rgba(1, 172, 253, 1);
}
.color3 {
  color: rgba(5, 212, 223, 1);
}
.color4 {
  color: rgba(93, 88, 239, 1);
}
.color5 {
  color: rgba(135, 0, 255, 1);
}
#color6 {
  background-color: rgba(93, 88, 240, 1);
}

/* header style */
/* navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.brand {
  align-items: center;
  gap: 11px;
}
.brand h5 {
  font-size: 3.2rem;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
}
.navbar ul {
  list-style: none;
  gap: 32px;
  flex-wrap: wrap;
}
.navbar li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}
.navbar button {
  background-color: rgba(254, 163, 1, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
}
.menu {
  display: none;
}

/* hero style */
.hero {
  justify-content: space-between;
}
.hero-desc {
  margin: auto 0;
  max-width: 640px;
}
.hero-desc h3 {
  font-size: 5.6rem;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
}
.hero-desc p {
  font-size: 2rem;
  color: rgba(17, 17, 17, 1);
  padding: 24px 0;
}
.shear-button {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(17, 17, 17, 1);
  border: none;
  border-radius: 1.2rem;
  padding: 1rem 4.7rem;
}
.hero-img {
  max-width: 468px;
}
.hero-img img {
  width: 100%;
}

/* curriculum style */
.curriculum {
  background-image: url(assets/bg.png);
  text-align: center;
  background-size: contain;
}
.curriculum-title {
  font-size: 4.6rem;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
  padding: 60px 0 80px;
}
.curriculum-all-card {
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}
.curriculum-card {
  padding: 52px 40px;
  max-width: 367px;
  border-radius: 18px;
}
.curriculum-card-1 {
  border: 0.9px solid rgba(222, 245, 255, 1);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgb(222, 245, 255),
    rgba(255, 255, 255, 0) 40%
  );
  background-color: white;
}
.curriculum-card-2 {
  border: 0.9px solid rgba(255, 244, 220, 1);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(255, 244, 220, 1),
    rgba(255, 255, 255, 0) 40%
  );
  background-color: white;
}
.curriculum-card-3 {
  border: 0.9px solid rgba(242, 232, 255, 1);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
    180deg,
    rgba(238, 225, 255, 1),
    rgba(255, 255, 255, 0) 40%
  );
  background-color: white;
}
.curriculum-card h5 {
  font-size: 2.4rem;
  font-weight: 700;
  color: rgba(32, 32, 32, 1);
  padding: 32px 0;
}
.curriculum-card p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 1);
  padding-bottom: 3.2rem;
  max-width: 286px;
  line-height: 2.8rem;
}
.curriculum-card a {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
.next {
  justify-content: center;
  gap: 10px;
  margin: 80px 0 60px;
}
.next div {
  width: 60px;
  height: 60px;
  background-color: rgba(254, 163, 1, 1);
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  border-radius: 50%;
}
.next div i {
  padding: 20px 0 17px;
}

/* our-stories style */
.our-stories {
  /* border: 2px solid black; */
  margin: 0 auto;
  padding-bottom: 6rem;
  background-size: contain;
  background: url(assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  /* background-image: url(assets/bg.png); */
}
.our-stories-title {
  margin: 6rem 8rem;
  font-size: 4.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  /* border: 2px solid red; */
  text-align: center;
}
.our-stories img {
  border-radius: 1.6rem 1.6rem 0 0;
  width: 100%;
}
.our-stories-all-card {
  /* border: 2px solid purple; */
  justify-content: center;
  gap: 19px;
  margin-bottom: 8rem;
}
.our-stories-big-card {
  /* border: 2px solid rgb(0, 200, 37); */
  max-width: 540px;
  border-radius: 1.6rem;
  background-color: rgba(255, 255, 255, 1);
}
.our-stories-big-card button {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(60, 216, 232, 1);
  border: none;
  border-radius: 47px;
  padding: 1.5rem 1.9rem;
}
.big-card-desc {
  padding: 0 38px;
  margin-top: -24px;
}
.big-card-desc h5 {
  font-size: 2.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding: 3.6rem 0 5.1rem;
}
.big-card-desc p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
}
.our-stories-small-all-cards {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  grid-template-rows: repeat(2, 301px);
  gap: 19px;
}
.our-stories-small-all-cards > div {
  border-radius: 1.6rem;
  background-color: rgba(255, 255, 255, 1);
}
.small-card-desc {
  padding: 0 3.8rem;
  margin-top: -19px;
}
.small-card-desc button {
  border-radius: 4.8rem;
  background-color: rgba(149, 178, 38, 1);
  border: none;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  padding: 1rem 1.9rem;
}
.small-card-desc h5 {
  color: rgba(0, 0, 0, 1);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  padding-bottom: 2rem;
}
.our-stories-button {
  text-align: center;
}

/* Media style */
@media (max-width: 576px) {
  :root {
    font-size: 6px;
  }
  .brand h5,
  .navbar ul,
  .navbar button,
  .next,
  .our-stories-big-card {
    display: none;
  }
  .navbar {
    padding: 12px 16px;
    border: 0.5px solid rgba(254, 163, 1, 1);
  }
  .menu {
    display: block;
    font-size: 30px;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    padding: 25px;
  }
  .hero-desc {
    text-align: center;
  }
  .hero-desc p {
    padding: 18px 0;
  }
  .curriculum-title {
    padding: 40px 20px;
  }
  .curriculum-all-card {
    gap: 12px;
  }
  .our-stories-small-all-cards {
    grid-template-columns: repeat(2, 173px);
    grid-template-rows: repeat(2, 180px);
    gap: 11px;
  }
  .small-card-desc {
    margin: -15px;
  }
  .our-stories-all-card {
    margin-bottom: 2rem;
  }
  .our-stories {
    background-size: cover;
  }
}
